
textarea {
    height: 100px !important;
}

ion-title {
	padding: 0 !important;
}

.breadcrumb-item a {
	color: #3f80ff;
}

.page-header {
	margin-top: 0.7rem;
}

.mylabel {
	font-family: 'Noto Sans KR';
	font-size: 14px;
}

.mytimepicker {
	font-size: 14px;
}

ion-item {
	--inner-padding-end: 0px;
	--padding-start: 0px;
}

