<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title class="smllogo">
			<app-logo></app-logo>
		</ion-title>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','deal']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<form [formGroup]="cancelForm">
				<ion-item class="form-group">
					<ion-label position="floating"
						>{{'home_visit_result_paymentcancel.visit_result' |
						translate}}</ion-label
					>
					<ion-input
						type="text"
						placeholder="{{'home_visit_result_paymentcancel.visit_result_place_holder' | translate}}"
						readonly
					></ion-input>
				</ion-item>
				<ion-item class="form-group">
					<ion-label position="floating"
						>{{'home_visit_result_paymentcancel.cacel_reason' |
						translate}}</ion-label
					>
					<ion-textarea rows="5" [formControl]="reason"></ion-textarea>
				</ion-item>
				<div class="form-group">
					<ngx-dropzone (change)="onSelect($event)">
						<ngx-dropzone-label
							>{{'home_visit_result_paymentcancel.upload_instruction' |
							translate}}</ngx-dropzone-label
						>
						<ngx-dropzone-image-preview
							ngProjectAs="ngx-dropzone-preview"
							*ngFor="let f of files"
							[file]="f"
						>
						</ngx-dropzone-image-preview>
					</ngx-dropzone>
				</div>
				<ion-item class="form-group">
					<ion-label position="floating"
						>{{'home_visit_result_paymentcancel.other' | translate}}</ion-label
					>
					<ion-textarea rows="5" [formControl]="other"></ion-textarea>
				</ion-item>
				<ion-button expand="block" color="tertiary" (click)="submitCancel()"
					>{{'home_visit_result_paymentcancel.confirm' | translate}}</ion-button
				>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>
