.container {
	height: 100vh;
	position: relative;
}

ion-title {
	padding: 0 !important;
}

.vertical-center {
	position: absolute;
	top: 45%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
