<ion-header [translucent]='true'>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Cancel</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-item class="mt-10">
		<ion-label position="floating">Cancel Reason</ion-label>
		<ion-textarea [(ngModel)]="message" class="cancel-input"></ion-textarea>
	</ion-item>
	<ion-button
		class="mt-5"
		expand="block"
		color="primary"
		(click)="submitCancel()"
	>
		Submit
	</ion-button>
</ion-content>
