<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title class="smllogo">
			<app-logo></app-logo>
		</ion-title>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','deal']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<form>
				<ion-item class="form-group">
					<ion-label position="floating">{{'home_visit_result_revisit.visit_result' | translate}}</ion-label>
					<ion-input type="text"></ion-input>
				</ion-item>
				<ion-item class="form-group">
					<ion-label position="floating">{{'home_visit_result_revisit.revisit_reason' | translate}}</ion-label>
					<ion-textarea rows="5"></ion-textarea>
				</ion-item>
				<div class="form-group">
					<ngx-dropzone (change)="onSelect($event)">
						<ngx-dropzone-label>{{'home_visit_result_revisit.upload_instruction' | translate}}</ngx-dropzone-label>
						<ngx-dropzone-image-preview
							ngProjectAs="ngx-dropzone-preview"
							*ngFor="let f of files"
							[file]="f"
						>
						</ngx-dropzone-image-preview>
					</ngx-dropzone>
				</div>
				<ion-item class="form-group">
					<ion-label position="floating">{{'home_visit_result_revisit.revisit_date' | translate}}</ion-label>
					<ion-datetime
						displayFormat="D MMM YYYY H:mm A"
						[min]="now"
					></ion-datetime>
				</ion-item>
				<ion-item class="form-group">
					<ion-label position="floating">{{'home_visit_result_revisit.other' | translate}}</ion-label>
					<ion-textarea rows="5"></ion-textarea>
				</ion-item>
				<ion-button expand="block" color="tertiary">{{'home_visit_result_revisit.confirm' | translate}}</ion-button>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>
