.avt-view {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6rem !important;
	height: 6rem !important;
	border: 1px solid #d8dde6;
	overflow: hidden;
	position: relative;
	margin: auto;
	border-radius: 16px;

	margin-bottom: 2rem;
}

.mat-form-field {
	display: inline !important;

	& input.mat-input-element {
		line-height: normal !important;
	}
}