<ion-header>
	<ion-toolbar style="padding: 8px !important">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home/deal"></ion-back-button>
		</ion-buttons>
		<ion-title
			>{{'home_edit_account.account_infor_header' | translate}}</ion-title
		>
	</ion-toolbar>
</ion-header>

<ion-content class="m-0 p-0">
	<!-- Login content section -->
	<ion-card *ngIf="dealer">
		<ion-card-content>
			<form [formGroup]="editForm">
				<ion-list>
					<div class="avt-view">
						<img [src]="imagePreview" alt="" class="img-fluid" />
					</div>
					<mat-form-field appearance="outline">
						<mat-label>{{'home_edit_account.email' | translate}}</mat-label>
						<input type="email" matInput formControlName="email" />
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>{{'home_edit_account.org_name' | translate}}</mat-label>
						<input type="text" matInput formControlName="orgName" />
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>{{'home_edit_account.ceo_name' | translate}}</mat-label>
						<input type="text" matInput formControlName="ceoName" />
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label
							>{{'home_edit_account.phone_number' | translate}}</mat-label
						>
						<input type="number" matInput formControlName="phone" />
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>{{'home_edit_account.address' | translate}}</mat-label>
						<input type="text" matInput formControlName="address" />
					</mat-form-field>

					<div class="mb-8"></div>
					<mat-form-field appearance="outline">
						<mat-label>{{'home_edit_account.password' | translate}}</mat-label>
						<input type="password" matInput formControlName="password" />
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>{{'home_edit_account.password' | translate}}</mat-label>
						<input type="password" matInput formControlName="cPassword" />
					</mat-form-field>
				</ion-list>
			</form>
		</ion-card-content>
	</ion-card>
	<!-- End of Login content section -->
</ion-content>

<ion-footer class="ion-padding">
	<ion-button expand="block" color="tertiary" [disabled]="!editForm.valid">
		{{'home_edit_account.update_infor' | translate}}
	</ion-button>
</ion-footer>
