<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>{{'home_notifications.title' | translate}}</ion-title>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home/deal"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div style="display: flex; justify-content: center">
		<ion-spinner *ngIf="!noti"></ion-spinner>
	</div>
	<ion-list *ngIf="noti">
		<ion-item
			*ngFor="let item of noti"
			lines="none"
			[routerLink]="['/','home','ongoing', item.requestId]"
			class="item-card"
		>
			<ion-thumbnail slot="start" class="m-0">
				<img src="../../../../assets/images/photos/car_02.png" />
			</ion-thumbnail>
			<ion-grid class="p-0 m-0 mt-1">
				<ion-row class="m-0 p-0">
					<ion-col size="8" [ngSwitch]="item.deal?.status">
						<div
							style="background: #bdc3c7; border-radius: 5px"
							class="m-0 p-0"
							*ngSwitchCase="1"
						>
							<p class="fs-15 text-center text-dark">Quote in progress</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 5px"
							*ngSwitchCase="2"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">
								Waiting for seller to select
							</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 5px"
							*ngSwitchCase="3"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">Confirm the auction</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 5px"
							*ngSwitchCase="4"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">Cancel the auction</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 5px"
							*ngSwitchCase="5"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">
								Please write visit result
							</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 5px"
							*ngSwitchCase="6"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">Cancel the purchase</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 5px"
							*ngSwitchCase="9"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">
								Please upload the certification
							</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 5px"
							*ngSwitchCase="10"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">
								Please complete the payment
							</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 5px"
							*ngSwitchCase="11"
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">Trade complete</p>
						</div>
						<div
							style="background: #bdc3c7; border-radius: 5px"
							*ngSwitchDefault=""
							class="m-0 p-0"
						>
							<p class="fs-15 text-center text-dark">N/A</p>
						</div>
					</ion-col>
					<ion-col size="4" class="mt-1 fs-10">
						{{item.updateDate * 1000 | dateAgo}}
					</ion-col>
				</ion-row>

				<div>
					<p>2009, K-5 <span class="fs-10">12가1234</span></p>
				</div>

				<div>
					<p>
						{{item.request?.miles | number}} Km
						<span class="pull-right"
							>￦{{item.request?.price || 0 | number}}
						</span>
					</p>
				</div>
			</ion-grid>
		</ion-item>
	</ion-list>
</ion-content>
