<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title class="smllogo">
			<app-logo></app-logo>
		</ion-title>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','deal']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<form>
				<ion-item class="form-group">
					<ion-label position="floating" style="font-size: 14pt;">Visit result</ion-label>
					<ion-input type="text" placeholder="Purchase comfirm"></ion-input>
				</ion-item>
				<ion-item class="form-group">
					<ion-label position="floating" style="font-size: 14pt;">Bid amount</ion-label>
					<ion-input
						type="text"
						disabled
						readonly="true"
						placeholder="1,999,000"
					></ion-input>
				</ion-item>
				<ion-item class="form-group">
					<ion-label position="floating" style="font-size: 14pt;">Final amount</ion-label>
					<ion-input type="text" placeholder="Input your desire amount"></ion-input>
				</ion-item>
				<br/>
				<div class="form-group">
					<ngx-dropzone (change)="onSelect($event)">
						<ngx-dropzone-label>Upload your image here</ngx-dropzone-label>
						<ngx-dropzone-image-preview
							ngProjectAs="ngx-dropzone-preview"
							*ngFor="let f of files"
							[file]="f"
						>
						</ngx-dropzone-image-preview>
					</ngx-dropzone>
				</div>
				<ion-item class="form-group">
					<ion-label position="floating" style="font-size: 14pt;">Other</ion-label>
					<ion-textarea rows="5" placeholder="Write notes here"></ion-textarea>
				</ion-item>

				<ion-button expand="block" color="tertiary" routerLink="certificationupload" (click)="completeRequest();">Confirm</ion-button>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>
