<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title class="smllogo">
			<app-logo></app-logo>
		</ion-title>
		<ion-button slot="end" fill="clear" [routerLink]="['/','home','deal']">
			<ion-icon name="log-out-outline"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<form>
				<ion-item class="form-group">
					<ion-label position="floating" style="font-size: 14pt"
						>{{'home_visit_result_paymentcomplete.visit_result' |
						translate}}</ion-label
					>
					<ion-input
						type="text"
						placeholder="{{'home_visit_result_paymentcomplete.purchase_confirm' | translate}}"
						readonly
					></ion-input>
				</ion-item>
				<ion-item class="form-group">
					<ion-label position="floating" style="font-size: 14pt"
						>{{'home_visit_result_paymentcomplete.bid_amount' |
						translate}}</ion-label
					>
					<ion-input
						type="text"
						disabled
						readonly="true"
						placeholder="1,999,000"
					></ion-input>
				</ion-item>
				<ion-item class="form-group">
					<ion-label position="floating" style="font-size: 14pt"
						>{{'home_visit_result_paymentcomplete.final_amount' |
						translate}}</ion-label
					>
					<ion-input
						type="text"
						placeholder="{{'home_visit_result_paymentcomplete.input_desire_amount' | translate}}"
					></ion-input>
				</ion-item>
				<br />
				<div class="form-group">
					<ngx-dropzone (change)="onSelect($event)">
						<ngx-dropzone-label
							>{{'home_visit_result_paymentcomplete.upload_instruction' |
							translate}}</ngx-dropzone-label
						>
						<ngx-dropzone-image-preview
							ngProjectAs="ngx-dropzone-preview"
							*ngFor="let f of files"
							[file]="f"
						>
						</ngx-dropzone-image-preview>
					</ngx-dropzone>
				</div>
				<ion-item class="form-group">
					<ion-label position="floating" style="font-size: 14pt"
						>{{'home_visit_result_paymentcomplete.other' |
						translate}}</ion-label
					>
					<ion-textarea
						rows="5"
						placeholder="{{'home_visit_result_paymentcomplete.write_notes_hate' | translate}}"
					></ion-textarea>
				</ion-item>

				<ion-button
					expand="block"
					color="tertiary"
					routerLink="certificationupload"
					(click)="completeRequest();"
					>{{'home_visit_result_paymentcomplete.confirm' |
					translate}}</ion-button
				>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>
