<ion-header>
  <ion-toolbar>
    <ion-title class="smllogo">
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container">
    <ion-row class="row">
      <ion-col class="col-xl-9 col-lg-9 col-md-12">
        <div class="card m-b-20">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="form-label" for="exampleInputEmail1"
                  >Visit result</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputname"
                  placeholder="Purchase comfirm"
                />
              </div>
              <div class="form-group">
                <label class="form-label" for="exampleInputEmail1"
                  >Bid amount</label
                >
                <input
                  type="text"
                  disabled
                  readonly="true"
                  class="form-control"
                  id="exampleInputname"
                  placeholder="1,999,000"
                />
              </div>
              <div class="form-group">
                <label class="form-label" for="exampleInputEmail1"
                  >Final amount</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputname"
                  placeholder=""
                />
              </div>
              <div class="form-group">
                <input type="file" class="dropify" data-height="180" />
              </div>
              <div class="form-group">
                <label class="form-label" for="exampleInputPassword1"
                  >Other</label
                >
                <textarea
                  rows="5"
                  class="form-control"
                  placeholder=""
                ></textarea>
              </div>
              <div class="form-group mb-0">
                <ion-button expand="block" color="tertiary">Confirm</ion-button>
              </div>
            </form>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
