ion-title {
	padding: 0 !important;
}

.bannerimg {
	padding: 2rem 0 2rem 0;
	background-size: cover;
}

.container {
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}

.signup_title {
	line-height: normal;
}

.mat-form-field {
	display: inline !important;

	& input.mat-input-element {
		line-height: normal !important;
	}
}

.cover-image {
	background-size: cover !important;
	width: 100%;
	// position: relative;
	background-image: url('../../../../assets/images/banners/banner2.jpg');
}

.avt-view {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6rem !important;
	height: 6rem !important;
	border: 1px solid #d8dde6;
	overflow: hidden;
	position: relative;
	margin: auto;
	border-radius: 16px;

	ion-input[type='file'] {
		position: absolute;
		opacity: 0;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.bg-background3:before {
	background: linear-gradient(to right,
			rgba(141, 11, 183, 0.8),
			rgba(33, 63, 148, 0.8));
}

.bg-background3:before {
	background: linear-gradient(to right,
			rgba(106, 17, 203, 0.8),
			rgba(37, 117, 252, 0.8));
	//background-image: linear-gradient(135deg, #667eea 0%, #764ba2 10%);
}

.bg-background3 .header-text {
	position: relative;
	z-index: 10;
}

// .single-page .wrapper.wrapper2 {
// 	background: #fff;
// 	width: 100%;
// 	background: #fff;
// 	transition: all 0.5s;
// 	color: #fff;
// 	overflow: hidden;
// 	border-radius: 4px;
// 	text-align: center;
// }

.header-md::after {
	width: 0 !important;
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
	font-family: 'Poppins';
	font-size: 0.9rem;
}

.basic-container {
	padding: 30px;
}

ion-item {
	--inner-padding-end: 0px;
	--padding-start: 0px;
}