<ion-header>
	<ion-toolbar>
		<ion-title class="smllogo">
			<app-logo></app-logo>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- Header/Banner section -->
	<ion-item>
		<div class="bannerimg cover-image bg-background3">
			<div class="header-text">
				<div class="container">
					<div class="text-center text-white">
						<h1 class="">SCRoads - Registration</h1>
					</div>
				</div>
			</div>
		</div>
	</ion-item>
	<!-- End of Header/Banner section -->

	<!-- Login content section -->
	<ion-card class="m-3">
		<div class="container customerpage">
			<div class="row">
				<div class="single-page">
					<div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
						<div class="wrapper wrapper2">
							<form class="card-body p-4 pb-0" [formGroup]="signupForm">
								<h3>Register as:</h3>
								<div class="avt-view">
									<img [src]="imagePreview" alt="" class="img-fluid" />
									<!-- <input
										type="file"
										placeholder=""
										accept=".jpg, .jpeg, .png"
										(change)="handleFileInput($event.target.files)"
									/> -->
									<!-- <input type="file" class="custom-file-input" (change)="onFileSelected($event)" accept=".png,.jpg"> -->
									<!-- <ion-input type="file" value="" accept=".jpg, .jpeg, .png" (change)="handleFileInput($event.target.files)"></ion-input> -->
									<!-- <ion-input type="file" value="" accept=".jpg, .jpeg, .png" (click)="PickFile()"></ion-input>
									<div>
										{{ returnpath }}
									</div> -->
									<ion-input type="file" value="" accept=".jpg, .jpeg, .png" (click)="PickImages()"></ion-input>
									<ion-list *ngFor = "let cordovaImage of cordovaImages">
										<ion-item>
											<img src="cordovaImage" />
										</ion-item>
									</ion-list>
								</div>
								<h3 style="color: #080e1b; font-size: 1rem;">
									(Tap to upload profile image)
								</h3>
								<div class="mb-6"></div>
								<div class="mail">
									<input
										type="email"
										name="mail"
										[formControl]="email"
										style="color: #080e1b;"
									/>
									<label>Email</label>
								</div>
								<div class="passwd">
									<input
										type="password"
										name="password"
										[formControl]="password"
										style="color: #080e1b;"
									/>
									<label>Password</label>
								</div>
								<div class="passwd">
									<input
										type="password"
										name="cPassword"
										[formControl]="cPassword"
										style="color: #080e1b;"
									/>
									<label>Confirm Password</label>
								</div>
								<div class="mail">
									<input
										type="text"
										name="orgname"
										[formControl]="orgname"
										style="color: #080e1b;"
									/>
									<label>Organization Name</label>
								</div>
								<div class="mail">
									<input
										type="text"
										name="ceoname"
										[formControl]="ceoname"
										style="color: #080e1b;"
									/>
									<label>CEO Name</label>
								</div>
								<div class="mail">
									<input
										type="number"
										name="phonenum"
										[formControl]="phonenum"
										style="color: #080e1b;"
									/>
									<label>Phone Number</label>
								</div>
								<div class="mail">
									<input
										type="number"
										name="faxnum"
										[formControl]="faxnum"
										style="color: #080e1b;"
									/>
									<label>Fax Number</label>
								</div>
								<div class="mail">
									<input
										type="text"
										name="address"
										[formControl]="address"
										style="color: #080e1b;"
									/>
									<label>Business Address</label>
								</div>
							</form>
							<ion-list class="ion-padding">
								<ion-item *ngFor="let item of checkBoxList">
									<ion-label>{{item.value}}</ion-label>
									<ion-checkbox
										slot="start"
										#checkBoxList
										name="itemoption"
										(click)="modalNavigate(item.id)"
										[(ngModel)]="item.isChecked"
										[attr.data-id]="item.id"
										(ionChange)="checkEvent()"
									></ion-checkbox>
								</ion-item>
								<ion-item>
									<ion-label><strong>Agree All</strong></ion-label>
									<ion-checkbox
										slot="start"
										name="selectallcheck"
										[(ngModel)]="masterCheck"
										[indeterminate]="isIndeterminate"
										(click)="checkMaster($event)"
									></ion-checkbox>
								</ion-item>
							</ion-list>
							<ion-button
								expand="block"
								color="tertiary"
								class="mr-3 ml-3"
								(click)="signupDealer()"
								[disabled]="!masterCheck || !signupForm.valid"
							>
								Request Register
							</ion-button>

							<ion-button
								fill="clear"
								expand="block"
								class="text-dark mb-6"
								routerLink="/login"
							>
								Already have an account? Log In
							</ion-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-card>
	<!-- End of Login content section -->
</ion-content>
